.Weather {
  border: 1px solid #dadde1;
  color: #878787;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.Weather .icon-temp-display {
  margin-top: 20px;
}

.Weather .temperature {
  font-weight: 400;
  color: black;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  color: black;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}

.Weather img {
  margin-right: 10px;
  width: 64px;
  height: 64px;
  float: left;
}
